<%- include ("partials/header") %>

<div id="back"></div>
<div class="container-fluid">
    <div id="profileView" class="row">
    <% if(isOwner){%>
        <%if(person.image.imgID){%>
            <div class="col-md-3 d-flex justify-content-end profile-pic-hover" style="margin-top: -100px;" >
                <img src="/Images/profile-pic-edit.png" class="img-thumbnail img-top" alt="Profile Picture" data-toggle ="modal" data-target="#profileImage" style="cursor:pointer">
                <img  src="/form/<%=person.image.imgID%>/<%= person.image.imgName %>" class="img-thumbnail img-bottom" alt="Profile Picture" data-toggle ="modal" data-target="#profileImage" style="cursor:pointer">
                <br><br>
            </div>
        <%} else{%> 
            <div class="col-md-3 d-flex justify-content-end profile-pic-hover" style="margin-top: -100px;" >
                <img src="/Images/profile-pic-add.png" class="img-thumbnail img-top" alt="Profile Picture" data-toggle ="modal" data-target="#profileImage" style="cursor:pointer">
            <%if(person.title == "Mrs." || person.title == "Miss"){%>
                <img src="/Images/Female.jpg" class="img-thumbnail img-bottom" alt="Profile Picture" data-toggle ="modal" data-target="#profileImage" style="cursor:pointer">
            <%} else {%>   
                <img src="/Images/Male.jpg" class="img-thumbnail img-bottom" alt="Profile Picture" data-toggle ="modal" data-target="#profileImage" style="cursor:pointer">
            <%}%>
                <br><br>
            </div>    
        <% }%>

        <div class="modal fade" id="profileImage" tabindex="-1" role="dialog" aria-labelledby="profileImageLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Upload Profile Picture</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/<%= person.image.imgID  ? `${path}/${person._id}/image/edit/${person.image.imgID}` : `${path}/${person._id}/image/upload`%>/" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-8 form-group">
                                <div class="custom-file h-50">
                                    <input type="file" name="image" id="image" class="custom-file-input" accept="image/*" required>
                                    <label for="image" class="custom-file-label" placeholder = "Choose Image"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
    
    <%} else {%>
        <%if(person.image.imgID){%>
            <div class="col-md-3 d-flex justify-content-end" style="margin-top: -100px;" >
                <img src="/form/<%=person.image.imgID%>/<%= person.image.imgName %>" class="img-thumbnail" alt="Profile Picture">
                <br><br>
            </div>
        <%} else{%> 
            <div class="col-md-3 d-flex justify-content-end" style="margin-top: -100px;" >
            <%if(person.title == "Mrs." || person.title == "Miss" || person.title == 'Ms.'){%>
                    <img src="/Images/Female.jpg" class="img-thumbnail" alt="Profile Picture" >
            <%} else {%>   
                    <img src="/Images/Male.jpg" class="img-thumbnail" alt="Profile Picture" >
            <%}%>
                <br><br>
            </div>    
        <% }%>
    
    
    <%}%>
    
        <div class="col-md-9 pl-1 pr-5">
            <div id="info">
                <h1 class="display-4"><%= `${person.title}${person.firstName} ${person.middleName} ${person.lastName}` %></h1>
                <h6><%= person.academicRole %></h6>
            </div>
            <div class="row">
                <div id="info" class="col-md-6">
                    <p>
                        <% var x = person.department %>
                        Department of <%= x.slice(0, x.indexOf("(") != -1 ? x.indexOf("(") : person.department.length ) %><br>
                        <%= person.school %>
                    </p>
                </div>
                <div id="info1" class="col-md-6 pl-5">
                    <h5>CONTACT INFORMATION </h5>
                    <p>
                        <i class="fas fa-envelope pr-1"></i>
                        Email - <a href="mailto:<%= person.email %>">
                                    <em><span><%= person.email %></span></em><br>
                                </a>
                        <i class="fas fa-phone-alt pr-1"></i>
                        Phone - <a href="tel:<%= person.phone %>">
                                    <span><%= person.phone %></span>
                                </a>
                    </p>
                </div>
            </div>

            <hr style="padding-bottom: 20px; width: 50%;">
    
            <!-- SCHOLAR PAGE -->
            <% if(path == 'scholar'){ %>
                <div class="row">
                    <div id="info1" class="container py-2 col-md-6" style="margin-left: 14px;">
                        <h5>REGISTRATION NUMBER : 
                            <span><%= person.scID %></span>
                        </h5>
                    </div>
                    <div id="info1" class="container py-2 col-md-6" style="margin-left: -14px;">
                        <h5>MODE OF Ph.D : 
                            <span><%= person.mode %></span>
                        </h5>
                    </div>
                </div>

                <hr style="padding-bottom: 20px; width: 50%;">

                <div class="row">
                    <div id="info1" class="container py-2 col-md-6" style="margin-left: 14px;">
                        <h5>SUPERVISED BY : 
                            <a href="/supervisor/<%= person.supervisedBy.ID %>">
                                <span><%= person.supervisedBy.supBy %></span>
                            </a>
                        </h5>
                    </div>
                    <% if(person.cosupervisor.cosup != null && person.cosupervisor.cosup != ''){ %>
                        <div id="info1" class="container py-2 col-md-6" style="margin-left: -14px;">
                            <h5>CO-SUPERVISED BY :
                            <%if(person.cosupervisor.ID){%>
                                <a href="/supervisor/<%= person.cosupervisor.ID%>">
                                    <span><%= person.cosupervisor.cosup %></span>
                                </a>
                            
                            <%} else{%>
                                <span><%= person.cosupervisor.cosup %></span>
                            <%}%> 
                            </h5>
                        </div>
                    <% } %>
                </div>

                <hr style="padding-bottom: 20px; width: 50%;">

                <div id="info1" class="container py-2">
                    <h5>TITLE OF RESEARCH : </h5>
                    <strong><em>"<%= person.reschTitle %>"</em></strong>
                </div>

                <hr style="padding-bottom: 20px; width: 50%;">
            <%if(person.sdcMember){%>
                <div id="info1" class="container py-2">
                    <h5>SDC PANEL :</h5>
                    <ul style="list-style-type:disc; margin-left:20px;">
                        <% person.sdcMember.forEach(function(field){ %>
                        <%if(field.ID) {%>
                            <a href="/supervisor/<%= field.ID %>">
                                <li><%= field.name %></li>
                            </a>
                        
                        <%} else {%>
                            <a>
                                <li><%= field.name %></li>
                            </a>
                        
                            <%}%>
                        <% }); %>
                    </ul>
                </div>

                <hr style="padding-bottom: 20px; width: 50%;">
            <%}%>

            <% } %>

            <!-- SUPERVISOR PAGE -->
            <% if(path == 'supervisor'){ %>
            <%if(person.schUnder && person.schUnder.length != 0){%>
                <div id="info1" class="container py-2">
                    <h5>SCHOLARS UNDER</h5>
                    <ul style="list-style-type:disc; margin-left:20px;">
                        <% person.schUnder.forEach(function(field){ %>
                            <a href="/scholar/<%= field.ID %>">
                                <li><%= field.sch %></li>
                            </a>
                        <% }); %>
                    </ul>
                </div>
                <hr style="padding-bottom: 20px; width: 50%;">
            <%}%>

                <% if(person.FoE && person.FoE.length != 0) { %>
                    <div id="info1" class="container">
                        <h5>FIELD OF EXPERTISE </h5>
                        <ul style="list-style-type:square; margin-left:20px;">
                            <% person.FoE.forEach(function(field){ %>
                            <%if(field != ""){%>
                                <li><%= field %></li>
                            <%}%>
                            <% }); %>
                        </ul>
                    </div>
                    <hr style="padding-bottom: 20px; width: 50%;">
                <% } %>

                <% if(person.academicQ && person.academicQ.length != 0){ %>
                    <div id="info1" class="container">
                        <h5>ACADEMIC QUALIFICATION</h5>
                        <table class="table table-hover profile-table-collapsible">
                            <thead>
                                <tr>
                                    <th scope="col">Degree</th>
                                    <th scope="col">Institute</th>
                                    <th scope="col">Specialisation</th>
                                    <th scope="col">Year of Passing</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% person.academicQ.forEach(function(field){ %>
                                    <% var str = field.degree ? field.degree : ''%>
                                    <tr>
                                        <th scope="row"><%= str.slice(str.indexOf("(") + 1, str.length - 1); %></th>
                                        <td><%= field.institute ? field.institute : ''%></td>
                                        <td><%= field.specialisation ? field.specialisation : '' %></td>
                                        <td><%= field.yoc ? field.yoc : ''%></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <hr style="padding-bottom: 20px; width: 50%;">
                <% } %>

                <% if(person.experience && person.experience.length != 0){ %>
                    <div id="info1" class="container">
                        <h5>EXPERIENCE</h5>
                        <table class="table table-hover profile-table-collapsible">
                            <thead>
                                <tr>
                                    <th scope="col">Organisation</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Tenure</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% person.experience.forEach(function(field){ %>
                                    <tr>
                                        <td><%= field.organisation ? field.organisation : ''  %></td>
                                        <td><%= field.designation ? field.designation : '' %></td>
                                        <td><%= field.role ? field.role : '' %></td>
                                        <td><%= field.tenure ? field.tenure : '' %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <hr style="padding-bottom: 20px; width: 50%;">
                <% } %>

                <% if(person.research && person.research.length != 0){ %>
                    <div id="info1" class="container">
                        <h5>RESEARCH PROJECT</h5>
                        <table class="table table-hover profile-table-collapsible">
                            <thead>
                                <tr>
                                    <th scope="col">Project Title</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Funding Agency</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Amount(INR)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% person.research.forEach(function(field){ %>
                                    <tr>
                                        <td><%= field.title ? field.title : '' %></td>
                                        <td><%= field.duration ? field.duration : '' %></td>
                                        <td><%= field.agency ? field.agency : '' %></td>
                                        <td><%= field.role ? field.role : '' %></td>
                                        <td><%= field.amount ? field.amount : '' %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <hr style="padding-bottom: 20px; width: 50%;">
                <% } %>
   
            <% } %>

            <% if (path == 'scholar' && (isOwner || currentUser.isSupervisor || currentUser.isAdmin)){%> 
                <div id="info1" class="container">
                    <h5>REPORTS</h5>
                    <table class="table table-hover">
                    <% if(person.report && person.report != []){%>
                        <tbody>
                        <% person.report.forEach(function(foundReport){%>
                            <tr>
                                <th class="scope" colspan=""><a href="/form/<%= foundReport.reportId%>/<%= foundReport.reportHexName%>" target="_blank"><%=foundReport.reportName%></a></th>
                                <%if(isOwner){%>
                                <td>
                                    <span class="d-flex justify-content-end">
                                        <form action="/scholar/<%=person._id%>/report/<%=foundReport.reportId%>?_method=DELETE" method="POST">
                                            <button class="btn text-danger"><i class="fas fa-times fa-lg"></i></button>
                                        </form>
                                    </span>
                                </td>
                                <%}%>
                            </tr>
                        <%});%>
                            
                        </tbody>
                    <%}%>
                    <% if(isOwner){%>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <span class="d-flex justify-content-end"><button class="btn btn-success py-0 px-1" style="cursor: pointer;" data-toggle="modal" data-target="#uploadReport">ADD REPORT</button></span>      
                                </td>
                            </tr>
                        </tfoot>
                    <%}%>
                    </table>
                    <hr style="padding-bottom: 20px; width: 50%;"> 
                </div>
                <%if(isOwner){%>
                    <div class="modal fade" id="uploadReport" tabindex="-1" role="dialog" aria-labelledby="uploadReportLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadReportLabel">Upload Report</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/scholar/<%=person._id%>/report/upload" method="POST" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-sm-8 form-group">
                                            <div class="custom-file h-50">
                                                <input type="file" name="reportpdf" id="reportpdf" class="custom-file-input" accept="application/pdf" required>
                                                <label for="reportpdf" class="custom-file-label" placeholder = "Choose PDF"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                <%}%>
            <%}%>

            <%if(isOwner){%>
                <div class="float-right mb-3">
                    <a class="btn btn-xs btn-warning px-2 py-1" href="/<%= path %>/<%= person._id %>/edit">EDIT PROFILE</a>
                </div>
            <%}%>
            <%if(currentUser.isAdmin){%>
                <div class="float-right mb-3">
                    <form class="delete float-right" action="/<%= path %>/<%= person._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger px-3 py-1">DELETE PROFILE</button>
                    </form>
                </div>
            <%}%>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>