<%- include ("partials/header") %>

<div id="back"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 d-flex justify-content-end" style="margin-top: -100px;">
            <img src="/<%= person.image %>" class="img-thumbnail" alt="Profile Picture">
            <br><br>
        </div>
        <div class="col-md-9 pl-1 pr-5">
            <div id="info">
                <h1 class="display-4"><%= person.title %><%= person.firstName %> <%= person.lastName %></h1>
                <h6><%= person.academicRole %></h6>
            </div>
            <div class="row">
                <div id="info" class="col-md-6">
                    <p>
                        Department of <%= person.department %><br>
                        <%= person.school %>
                    </p>
                </div>
                <div id="info1" class="col-md-6 pl-5">
                    <h5>CONTACT INFORMATION </h5>
                    <p>
                        <i class="fas fa-envelope pr-1"></i>
                        Email - <a href="mailto:<%= person.email %>">
                                    <em><span><%= person.email %></span></em><br>
                                </a>
                        <i class="fas fa-phone-alt pr-1"></i>
                        Phone - <strong>+91 - </strong>
                                <a href="tel:<%= person.phone %>">
                                    <span><%= person.phone %></span>
                                </a>
                    </p>
                </div>
            </div>
            <hr style="padding-bottom: 20px; width: 50%;">
            <div id="info1" class="container">
                <h5>FIELD OF EXPERTISE </h5>
                <!-- <p> -->
                <ul style="list-style-type:square; margin-left:20px;">
                    <% person.FoE.forEach(function(field){ %>
                            <li><%= field %></li>
                    <% }); %>
                </ul>
                <!-- </p> -->
            </div>
            <div id="info1" class="container">
                <h5>ACADEMIC QUALIFICATION</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Degree</th>
                            <th scope="col">Institute</th>
                            <th scope="col">Specialisation</th>
                            <th scope="col">Year of Passing</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% person.academicQ.forEach(function(field){ %>
                            <% var str = field.degree %>
                            <tr>
                                <th scope="row"><%= str.slice(str.indexOf("(") + 1, str.length - 1); %></th>
                                <td><%= field.institute %></td>
                                <td><%= field.specialisation %></td>
                                <td><%= field.yoc %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <% if(person['experience'][0]['organisation'].length != 0){ %>
                <div id="info1" class="container">
                    <h5>EXPERIENCE</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Organisation</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Role</th>
                                <th scope="col">Tenure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% person.experience.forEach(function(field){ %>
                                <tr>
                                    <td><%= field.organisation %></td>
                                    <td><%= field.designation %></td>
                                    <td><%= field.role %></td>
                                    <td><%= field.tenure %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>

            <% if(person['research'][0]['title'].length != 0){ %>
                <div id="info1" class="container">
                    <h5>RESEARCH PROJECT</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Project Title</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Funding Agency</th>
                                <th scope="col">Role</th>
                                <th scope="col">Amount(INR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% person.research.forEach(function(field){ %>
                                <tr>
                                    <td><%= field.title %></td>
                                    <td><%= field.duration %></td>
                                    <td><%= field.agency %></td>
                                    <td><%= field.role %></td>
                                    <td><%= field.amount %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>