<%- include ("partials/header") %>

<div class="container">
    <div class="row d-flex justify-content-center div-center">
        <div class="col">
            <!-- HEADING -->
            <h1 id="sup" class="display-4 mt-4"><i class="fas fa-user-graduate pr-3"></i><em>SCHOLARS</em></h1>

            <!-- SEARCH  BAR -->
            
            <div class="container search-bar">
                <input type="text" class="form-control" placeholder="Search . . ." aria-label="username">
            </div>
            
            <%if(currentUser && (currentUser.isAdmin)){%>
                <!-- DOWNLOAD BUTTON -->
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-success btn-sm mb-4" onclick="exportexcel('scholarTable')"><span class="mr-1 d-none d-md-inline-block">Export</span> <span><i class="fas fa-download"></i> </span></button>
                </div>
                
            <%}%>

            <!-- TABLE -->
            <table class="table table-hover no-margin text-center table-collapsible  tablesorter" id="scholarTable">
                <thead class="thead-dark">
                    <tr>
                        <th>ID<i class="fas fa-caret-down fa-sm"></i></th>
                        <th>Name<i class="fas fa-caret-down fa-sm"></i></th>
                        <th class="d-none d-sm-table-cell">Department</th>
                        <th>Supervisor</th>
                        <th>Co-Supervisor</th>
                        <th class="d-none d-sm-table-cell">PhD Status</th>
                    <% if(currentUser && (currentUser.isAdmin)){%>
                        <th class="d-none">Email</th>
                        <th class="d-none">Phone No.</th>
                        <th class="d-none">School</th>
                        <th class="d-none">Mode of PhD</th>
                        <th class="d-none">Registration Date</th>
                        <th class="d-none">Research Title</th>
                        <th class="d-none">SDC Members</th>
                    
                    <%}%>
                    </tr>
                </thead>
                <tbody class="myTable">
                    <% scholar.forEach(function(sch){ %>
                        <tr class="<%= currentUser && (currentUser.isAdmin || currentUser.refID == sch.supervisedBy.ID.toString()) ? 'clickable-row' : ''%>" <% if(currentUser && (currentUser.isAdmin || currentUser.refID == sch.supervisedBy.ID.toString())) {%> data-href= "/scholar/<%= sch._id %>" style = "cursor:pointer;" <%}%>>
                            <td><%=sch.scID%></td>
                            <td><%=`${sch.title} ${sch.firstName} ${sch.middleName} ${sch.lastName}`%></td>
                            <td class="d-none d-sm-table-cell">
                                <% var x = sch.department %>
                                <%= x.slice(x.indexOf("(")+1,x.length-1) %>
                            </td>
                            <td><%=sch.supervisedBy.supBy%></td>
                            <td><%=sch.cosupervisor ? sch.cosupervisor.cosup : 'None' %></td>
                            <td class="d-none d-sm-table-cell">
                                <%= sch.phdCompleted ? 'Completed' : 'Ongoing' %>
                                <div class="d-inline-block float-right"><a class = "text-secondary"><i class="fas fa-chevron-right"></i></a></div>
                            </td>
                            <% if(currentUser && (currentUser.isAdmin)){ %>
                            <td class="d-none"><%=sch.email%></td>
                            <td class="d-none"><%=sch.phone%></td>
                            <td class="d-none"><%=sch.school%></td>
                            <td class="d-none"><%=sch.mode%></td>
                            <td class="d-none"><%=sch.regDate.toDateString()%></td>
                            <td class="d-none"><%=sch.reschTitle%></td>
                            <td class="d-none">
                                <% sch.sdcMember.forEach(member=>{%>
                                    <%= member.name%>,
                                    
                                <%});%>
                            </td>
                            <%}%>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <% if (currentUser && currentUser.isAdmin){ %>
                <!-- ADD Scholar  -->
                <div class="">
                    <div class="card-body cardTable">
                        <div class="card-footer bg-dark text-white pb-2">
                            <div class="">
                                <span class="h3">Add Scholar</span>
                                <span class="float-right drop-down-btn">
                                    <button class="btn py-0" style="color: #FFF;"><i class="fas fa-plus fa-2x"></i></button>
                                </span>
                            </div>
                            <div class="container mt-5 dropDown">
                                <form action="/scholar" method="POST" enctype="">

                                    <!-- --------------BASIC INFORMATION--------------- -->
                                    <h5 id="title"><em>BASIC INFORMATION</em></h5>
                                    <br>    
                                    <!-- FIRST ROW -->
                                    <div class="form-row d-flex justify-content-center">
                                        <div class="form-group col-md-2">
                                            <label for="title">Title</label>
                                            <select id="title" class="form-control" name= "scholar[title]" required>
                                                <option selected>None</option>
                                                <option>Mr.</option>
                                                <option>Mrs.</option>
                                                <option>Miss.</option>
                                                <option>Dr.</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="input_fname">First Name</label>
                                            <input type="text" id="input_fname" class="form-control"  name= "scholar[firstName]" required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="input_mname">Middle Name</label>
                                            <input type="text" id="input_mname" class="form-control" name= "scholar[middleName]">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="input_lname">Last Name</label>
                                            <input type="text" id="input_lname" class="form-control" name= "scholar[lastName]" required>
                                        </div>
                                    </div>

                                    <!-- SECOND ROW -->
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" class="form-control" name="scholar[email]" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="phone">Phone</label>
                                            <input type="text" id="phone" class="form-control"  pattern=".{10}" name="scholar[phone]">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="regNo">Registration No.</label>
                                            <input type="text" id="regNo" class="form-control"  pattern=".{9}" name="scholar[scID]" required>
                                        </div>
                                    </div>

                                    <!-- THIRD ROW -->
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputDep">Department</label>
                                            <select id="inputDep" class="form-control"  name= "scholar[department]" required>
                                                <option selected>None</option>
                                                <option>Computer Science & Engineering(CSE)</option>
                                                <option>Information Technology(IT)</option>
                                                <option>Computer & Communication Engineering(CCE)</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputSchool">School</label>
                                            <select id="inputSchool" class="form-control" name= "scholar[school]" required>
                                                <option selected>None</option>
                                                <option>School of Computing & Information Technology</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="supervisor">Supervisor</label>
                                            <select id="supervisor" class="form-control" name= "scholar[supByID]" required>
                                                <option selected>None</option>
                                                <% if(supervisor.length != 0){ %>
                                                    <% for(var i = 0; i<supervisor.length; i++){ %> 
                                                        <option value="<%= supervisor[i]._id%>"><%= `${supervisor[i].title} ${supervisor[i].firstName} ${supervisor[i].middleName} ${supervisor[i].lastName}` %></option> 
                                                    <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>

                                    <!----------------- ADDITIONAL INFORMATION ------------------->
                                    <hr id="suphr">
                                    <br>
                                    <h5 id="title"><em>ADDITIONAL INFORMATION</em></h5>
                                    <br>
                                    <div class="additonal">
                                        <div class="form-group additonalField">
                                            <!-- FOURTH ROW -->
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="cosupervisor">Co-Supervisor (<em>if any</em>)</label>
                                                    <select id="cosupervisor" class="form-control" name= "scholar[cosupID]">
                                                        <option selected >None</option>
                                                        <% if(supervisor.length != 0){ %>
                                                            <% for(var i = 0; i<supervisor.length; i++){ %> 
                                                                <option value="<%= supervisor[i]._id%>"><%= `${supervisor[i].title} ${supervisor[i].firstName} ${supervisor[i].middleName} ${supervisor[i].lastName}` %></option> 
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="mode">Mode of Ph.D</label>
                                                    <select id="mode" class="form-control" name= "scholar[mode]" required>
                                                        <option selected>None</option>
                                                        <option>Part-Time (Internal)</option>
                                                        <option>Part-Time (External)</option>
                                                        <option>Full-Time</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="registerDate">Registration Date</label>
                                                    <input type="date" id="registerDate" class="form-control" name="scholar[regDate]" max="<%=new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0]%>" required>
                                                </div>
                                            </div>
                                            
                                            <!-- FIFTH ROW -->
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="research">Title of Research</label>
                                                    <input type="text" id="research" class="form-control" name="scholar[reschTitle]" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- SDC MEMBER LIST -->
                                    <hr id="suphr">
                                    <br>
                                    <h5 id="title"><em>SDC MEMBERS</em></h5>
                                    <br>
                                    <div class="sdcMember">
                                        <div class="form-row d-flex justify-content-center">
                                            <div class="form-group col-md-4">
                                                <label for="sdc">Panel Members</label>
                                                <select id="sdc" class="form-control" required>
                                                    <option selected>None</option>
                                                    <% if(supervisor.length != 0){ %>
                                                        <% for(var i = 0; i<supervisor.length; i++){ %> 
                                                            <option value="<%= supervisor[i]._id%>"><%= `${supervisor[i].title} ${supervisor[i].firstName} ${supervisor[i].middleName} ${supervisor[i].lastName}` %></option> 
                                                        <% } %>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <!-- ADD BUTTON -->
                                            <div class="container d-flex justify-content-center pr-0 pt-1 pb-3">
                                                <button class="btn btn-primary addSDC px-4 py-1">ADD</button>
                                            </div>
                                        </div>
                                    </div>

                                    <hr id="suphr">
                                    <!-- SUBMIT BUTTON  -->
                                    <div class="form-group d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success px-4 py-1 ml-3">Submit</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>