<%- include ("partials/header")%>

<div class="container">
    <div class="row d-flex justify-content-center div-center">
        <div class="col">
            <div class="card border-dark">
                <div class="card-header d-inline-block bg-dark text-white">
                    <span class="h4">Header</span>
                    <span class="float-sm-right search-filter">
                        <button class="btn"><i class="fas fa-filter" style="color: #FFF;"></i></button>
                    </span>
                </div>
                <div class="card-body cardTable">
                    <div class=" container my-2 ml-2 mr-2 search-bar">
                        <input type="text" class="form-control" placeholder="Search" aria-label="username">
                    </div>
                    <table class="table table-hover no-margin text-center">
                        <thead>
                            <tr>
                                <th>Supervisor ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Department</th>
                                <th>Field of Expertise</th>
                            </tr>
                        </thead>
                        <tbody class="myTable">
                            <%supervisor.forEach(function(sup){%>
                                <tr>
                                    <td><%=sup.spID%></td>
                                    <td><%=sup.firstName%> <%=sup.lastName%></td>
                                    <td><%=sup.age%></td>
                                    <td><%=sup.department%></td>
                                    <td>
                                        <% sup.FoE.forEach(field => {%>
                                            <span>
                                                <%=field%>
                                            <%if(field != sup.FoE[sup.FoE.length-1]){%>
                                                ,
                                            <%}%>
                                            </span>
                                        <% }); %>
                                        <div class="d-inline-block float-right"><a class = "text-secondary" href="/"><i class="fas fa-chevron-right"></i></a></div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <div class="card-footer bg-dark text-white pb-3">
                        <div class="">
                            <span class="h3">Add List</span>
                            <span class="float-sm-right drop-down-btn">
                                <button class="btn" style="color: #FFF"><i class="fas fa-plus fa-2x"></i></button>
                            </span>
                        </div>
                        <div class="container mt-5 dropDown">
                            <form action="/supervisor" method="POST">
                                <h5 id="title"><em>BASIC INFORMATION</em></h5>
                                <br>

                                <!-- FIRST ROW -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="input_fname">First Name</label>
                                        <input type="text" id="input_fname" class="form-control"  name= "supervisor[firstName]">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="input_lname">Last Name</label>
                                        <input type="text" id="input_lname" class="form-control" name= "supervisor[lastName]">
                                    </div>
                                </div>

                                <!-- SECOND ROW -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control" name="supervisor[email]">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="phone">Phone</label>
                                        <input type="text" id="phone" class="form-control"  pattern=".{14}" value="+91 "  name="supervisor[phone]">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputAge">Age</label>
                                        <select id="inputAge" class="form-control" name= "supervisor[age]">
                                            <option selected>None</option>
                                            <% for(var i =20; i<=60; i++){ %> 
                                                <option><%= i %></option> 
                                            <% } %>
                                        </select>
                                    </div>
                                </div>

                                <!-- THIRD ROW -->
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputAcademic">Academic Role</label>
                                        <select id="inputAcademic" class="form-control" name= "supervisor[academicRole]">
                                            <option selected>None</option>
                                            <option>Professor and Director</option>
                                            <option>Director</option>
                                            <option>Professor and HOD</option>
                                            <option>HOD</option>
                                            <option>Professor</option>
                                            <option>Associate Professor</option>
                                            <option>Assistant Professor</option>
                                            <option>Adhoc</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputDep">Department</label>
                                        <select id="inputDep" class="form-control"  name= "supervisor[department]">
                                            <option selected>None</option>
                                            <option>Computer Sicence & Engineering</option>
                                            <option>Information Technology</option>
                                            <option>Computer & Communication Engineering</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputSchool">School</label>
                                        <select id="inputSchool" class="form-control" name= "supervisor[school]" >
                                            <option selected>None</option>
                                            <option>School of Computing &  Information Technology</option>
                                        </select>
                                    </div>
                                </div>

                                <hr id="suphr">
                                <br>
                                <h5 id="title"><em>ACADEMIC QUALIFICATIONS</em></h5>
                                <br>
                                <div class="academic-form">
                                    <div class="academic-entry">

                                        <!-- FOURTH ROW -->
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="degree">Degree/Title</label>
                                                <select id="degree" class="form-control" name="supervisor[academicQ][degree]" >
                                                    <option>None</option>
                                                    <option>Bachelor of Computer Applications (B.C.A)</option>
                                                    <option>Bachelor of Computer Science (B.C.S)</option>
                                                    <option>Bachelor of Education in AI (B.Ed.AI)</option>
                                                    <option>Bachelor of Electronic Science (B.E.S)</option>
                                                    <option>Bachelor of Engineering (B.E)</option>
                                                    <option>Bachelor of Science (B.Sc)</option>
                                                    <option>Bachelor of Science Education (B.S.E)</option>
                                                    <option>Bachelor of Science Bachelor of Education (B.Sc.B.Ed)</option>
                                                    <option>Bachelor of Science Bachelor of Education (B.Sc.B.Ed)</option>
                                                    <option>Bachelor of Technology (B.Tech)</option>
                                                    <option>Master of Computer Applications (M.C.A)</option>
                                                    <option>Master of Education (M.Ed)</option>
                                                    <option>Master of Science (M.Sc)</option>
                                                    <option>Master of Technology (M.Tech)</option>
                                                    <option>Post Graduate (PG)</option>
                                                    <option>Post Graduate Diploma (P.Diploma)</option>
                                                    <option>Doctor of Philosophy (Ph.D)</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="specialisation">Specialisation</label>
                                                <input type="text" id="specialisation" class="form-control" name="supervisor[academicQ][specialisation]" >
                                            </div>
                                        </div>
        
                                        <!-- FIFTH ROW -->
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label for="institute">Institute</label>
                                                <input type="text" id="institute" class="form-control" name="supervisor[academicQ][institute]" >
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputYoC">Year of Completion</label> 
                                                <select id="inputYoC" class="form-control" name= "supervisor[academicQ][yoc]" >
                                                    <option selected>None</option>
                                                    <% for(var i = new Date().getFullYear(); i>=new Date().getFullYear()-50; i--){ %> 
                                                    <option><%= i %></option> 
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group w-100">
                                            <button class="btn btn-secondary w-100 btn-academic-add"><i class="fas fa-plus"></i> Add Academic Qualifications</button>
                                        </div>
                                    </div>
                                </div>

                                <hr id="suphr">
                                <br>
                                <h5 id="title"><em>EXPERIENCE<em></h5>
                                <br>
                                <div class="experience-form">
                                    <div class="experience-entry">

                                        <!-- SIXTH ROW -->
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="organization">Organization</label>
                                                <input type="text" id="organization" class="form-control"  name="supervisor[experience][organisation]" >
                                            </div>
                                        </div>
        
                                        <!-- SEVENTH ROW -->
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                <label for="designation">Designation</label>
                                                <input type="text" id="designation" class="form-control" name="supervisor[experience][designation]" >
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label for="role">Role</label>
                                                <input type="text" id="role" class="form-control" name="supervisor[experience][role]" >
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="tenure">Tenure</label>
                                                <select id="tenure" class="form-control" name= "supervisor[experience][tenure]" >
                                                    <option selected>None</option>
                                                    <option>&lt; 1</option>
                                                    <% for(var i =1; i<40; i++){ %> 
                                                        <option><%= i %></option> 
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group w-100">
                                            <button class="btn btn-secondary w-100 btn-experience-add"><i class="fas fa-plus"></i> Add Experience</button>
                                        </div>
                                    </div>
                                </div>

                                <hr id="suphr">
                                <br>
                                <h5 id="title"><em>RESEARCH PROJECT</em></h5>
                                <br>

                                <div class="research-form">
                                    <div class="research-entry">

                                        <!-- EIGHT ROW -->
                                        <div class="form-row">
                                            <div class="form-group col-md-9">
                                                <label for="project">Project Title</label>
                                                <input type="text" id="project" class="form-control" name="supervisor[research][title]" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="duration">Duration</label>
                                                <select id="duration" class="form-control" name= "supervisor[research][duration]" >
                                                    <option selected>None</option>
                                                    <option>&lt; 1</option>
                                                    <% for(var i =1; i<=15; i++){ %> 
                                                        <option><%= i %></option> 
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
        
                                        <!-- NINTH ROW -->
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                <label for="agency">Funding Agency</label>
                                                <input type="text" id="agency" class="form-control" name="supervisor[research][agency]" >
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="rolep">Role</label> 
                                                <input type="text" id="rolep" class="form-control" name="supervisor[research][role]" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="amount">Amount(INR)</label>
                                                <input type="text" id="amount" class="form-control" name="supervisor[research][amount]" >
                                            </div>
                                        </div>

                                        <div class="form-group w-100">
                                            <button class="btn btn-secondary w-100 btn-research-add"><i class="fas fa-plus"></i> Add Research</button>
                                        </div>
                                    </div>
                                </div>

                                <hr id="suphr">
                                <br>
                                <h5 id="title"><em>FIELD OF EXPERTISE</em></h5>
                                <br>
                                
                                <!-- TENTH ROW -->
                                <!-- <label for="inputFoE">Field of Expertise</label> -->
                                <div class="controls">
                                    <div class="form-group">
                                        <div class="entry input-group">
                                            <input type="text" class="form-control" placeholder="Add Expertise" name ="supervisor[FoE]" >
                                            <span class="input-group-append">
                                                <button class="btn btn-secondary btn-foe-add" type="button">
                                                    <i class="fas fa-plus"></i>   
                                                </button>                                       
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ("partials/footer")%>